@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { margin: 0; padding: 0; }
a { text-decoration: none;  color: inherit; }
li { list-style: none; }
body {font-family: sans-serif; background:inherit;}


div#wrap{
  width: 100%; height: 1080px; 
  div.swiper-container {
    width: 100%;  height: 980px; margin: 0 auto; background: url(../img/Home_bg01.jpg) no-repeat;
    .slide01 {
      width: 1320px; height: 100%;
      header{
        width: 100%; height: 100px; z-index: 10;
        div.inner{
          width: 1920px; height: 100%; margin: 0 auto; 
          div.header{
            width: 1320px; height: 100px; margin: 0 auto; 
            background-color: #aaa; display: flex; justify-content: space-between;
            div.logo{
              width: 200px; height: 100px;
              img{
                width: 180px; height: 90px; margin-left: 20px; margin-top: 5px;
              }
            }
            ul#menu{
              width: 100%; height: 100%; display: flex; text-align: center; justify-content: center;
              li{
                width: 120px; height: 50px; font-size: 20px; font-weight: 600;  margin-top: 25px; margin-left: 10px; line-height: 50px; cursor: pointer;
                &:nth-child(1){ font-size: 24px; opacity: 1; color: #fff; border-color: #fff;}
              }
            }
          }
        }
      }
    
      div#Home{
        width: 100%; height: 100%; 
        div.inner{
          width: 1920px; height: 980px;  
          div.textbox{
            width: 1320px; height: 500px;  margin: 0 auto; 
            h1{
              width: 600px; height: 300px; margin-top: 250px;font-size: 75px; color: #fff;
            }
            h2{
              width: 300px; height: 50px; margin-top: 30px; font-size: 24px; font-weight: 100; color: #fff;
            }
          }
        }
      }
    }
    .slide02 {
      width: 1320px; height: 100%;
      header{
        width: 100%; height: 100px; z-index: 10;
        div.inner{
          width: 1920px; height: 100%; margin: 0 auto; 
          div.header{
            width: 1320px; height: 100px; margin: 0 auto; 
            background-color: #aaa; display: flex; justify-content: space-between;
            div.logo{
              width: 200px; height: 100px;
              img{
                width: 180px; height: 90px; margin-left: 20px; margin-top: 5px;
              }
            }
            ul#menu{
              width: 100%; height: 100%; display: flex; text-align: center; justify-content: center;
              li{
                width: 120px; height: 50px; font-size: 20px; font-weight: 600;  margin-top: 25px; margin-left: 10px; line-height: 50px; cursor: pointer;
                &:nth-child(2){ font-size: 24px; opacity: 1; color: #fff; border-color: #fff;}
              }
            }
          }
        }
      }

      div#Summary{
        width: 100%; height: 930px; margin: 0 auto;   
        div.inner{
          width: 1920px; height: 980px; margin-top: 100px;
          div.contents{
            width: 1302px; height: 600px;  display: flex; align-items: center; justify-content: space-between; margin: 0 auto; 
            img{
              width: 260px; height: 350px; margin-top: -80px;
            }
            section#skill div.inner { 
              width: 780px; top: 0; margin: 0 auto; margin-top: 350px;
              div.grp { 
                width: 100%; height: 450px;
                .pie-chart1{
                  margin-right: 100px;  margin-bottom: 100px; position: relative; border-spacing: 100px; display:inline-block; width: 170px; height: 170px; border-radius: 50%; 
                  background: conic-gradient( #FFC0CB 0% 90%, #fff 0% 100% );
                  &:hover{
                    animation: pie1 2s forwards; animation-iteration-count: infinite; 
                  }
                  svg{
                    display : block; position: absolute; top: 50%; left: 50%; width: 125px; height: 125px; border-radius: 50%; text-align: center; line-height: 100px; font-size:40px; transform: translate(-50%, -50%); 
                    line.stroke-1 {
                      stroke-linecap: round; stroke-width: 20;
                    }
                  }  
                  p.per {
                    position: absolute; top: 26%; left: 2%; text-align: center; font-weight: 900; font-size: 50px;
                    span{
                      display: block; font-size: 24px; margin-left: 60px; margin-top: 25px; 
                    }
                  }
                  b { position: absolute; top: 125%; left: 50px; font: 900 20px 'Noto Sans'; color: #fff; }                        
                }    
                .pie-chart2{
                  margin-right: 100px; margin-bottom: 100px; position: relative; border-spacing: 100px; display:inline-block; width: 170px; height:  170px; border-radius: 50%; background: conic-gradient( #ADD8E6 0% 85%, #fff 0% 100% );
                  &:hover{
                    animation: pie2 2s forwards; animation-iteration-count: infinite; 
                  }
                  svg{
                    display : block; position: absolute; top:50%; left:50%; width:125px; height:125px; border-radius: 50%; text-align: center; line-height: 100px; font-size:40px; transform: translate(-50%, -50%);
                    line.stroke-1 {
                      stroke-linecap: round; stroke-width: 20;
                    }
                  }  
                  p.per {
                    position: absolute; top: 26%; left: 2%; text-align: center; font-weight: 900; font-size: 50px;
                    span{
                      display: block; font-size: 24px; margin-left: 60px; margin-top: 25px; 
                    }
                  }
                  b { position: absolute; top: 125%; left: 70px; font: 900 20px 'Noto Sans'; color: #fff; }    
                }    
                .pie-chart3{
                  position: relative; margin-bottom: 100px; border-spacing: 100px; display:inline-block; width: 170px; height: 170px; border-radius: 50%; background: conic-gradient( #99FAA3 0% 65%, #fff 0% 100% );
                  &:hover{
                    animation: pie3 2s forwards; animation-iteration-count: infinite; 
                  }
                  svg{
                    display : block; position: absolute; top:50%; left:50%; width:125px; height:125px; border-radius: 50%; text-align: center; line-height: 100px; font-size:40px; transform: translate(-50%, -50%);
                    line.stroke-1 {
                      stroke-linecap: round; stroke-width: 20;
                    }
                  }  
                  p.per {
                    position: absolute; top: 26%; left: 2%; text-align: center; font-weight: 900; font-size: 50px;
                    span{
                      display: block; font-size: 24px; margin-left: 60px; margin-top: 25px; 
                    }
                  }
                  b { position: absolute; top: 125%; left: 70px; font: 900 20px 'Noto Sans'; color: #fff; }                 
                }    
                .pie-chart4{
                  margin-right: 100px; position: relative; border-spacing: 100px; display:inline-block; width: 170px; height: 170px; border-radius: 50%; background: conic-gradient( #F3CA61 0% 80%, #fff 0% 100% );
                  &:hover{
                    animation: pie4 2s forwards; animation-iteration-count: infinite; 
                  }
                  svg{
                    display : block; position: absolute; top:50%; left:50%; width:125px; height:125px; border-radius: 50%; text-align: center; line-height: 100px; font-size:40px; transform: translate(-50%, -50%);
                    line.stroke-1 {
                      stroke-linecap: round; stroke-width: 20;
                    }
                  }  
                  p.per {
                    position: absolute; top: 26%; left: 2%; text-align: center; font-weight: 900; font-size: 50px;
                    span{
                      display: block; font-size: 24px; margin-left: 60px; margin-top: 25px; 
                    }
                  }
                  b { position: absolute; top: 125%; left: 50px; font: 900 20px 'Noto Sans'; color: #fff; }                        
                }    
                .pie-chart5{
                  margin-right: 100px; position: relative; border-spacing: 100px; display:inline-block; width: 170px; height: 170px; border-radius: 50%; background: conic-gradient( #fa6363 0% 50%, #fff 0% 100% );
                  &:hover{
                    animation: pie5 2s forwards; animation-iteration-count: infinite; 
                  }
                  svg{
                    display : block; position: absolute; top:50%; left:50%; width:125px; height:125px; border-radius: 50%; text-align: center; line-height: 100px; font-size:40px; transform: translate(-50%, -50%); 
                    line.stroke-1 {
                      stroke-linecap: round; stroke-width: 20;
                    }
                  }  
                  p.per {
                    position: absolute; top: 26%; left: 2%; text-align: center; font-weight: 900; font-size: 50px;
                    span{
                      display: block; font-size: 24px; margin-left: 65px; margin-top: 25px; 
                    }
                  }
                  b { position: absolute; top: 125%; left: 50px; font: 900 20px 'Noto Sans'; color: #fff; }                        
                }
                .pie-chart6{
                  position: relative; border-spacing: 100px; display:inline-block; width: 170px; height: 170px; border-radius: 50%; background: conic-gradient( #b187ff 0% 50%, #fff 0% 100% );
                  &:hover{
                    animation: pie6 2s forwards; animation-iteration-count: infinite; 
                  }
                  svg{
                    display : block; position: absolute; top:50%; left:50%; width:125px; height:125px; border-radius: 50%; text-align: center; line-height: 100px; font-size:40px; transform: translate(-50%, -50%);
                    line.stroke-1 {
                      stroke-linecap: round; stroke-width: 20;
                    }
                  }  
                  p.per {
                    position: absolute; top: 26%; left: 2%; text-align: center; font-weight: 900; font-size: 50px;
                    span{
                      display: block; font-size: 24px; margin-left: 60px; margin-top: 25px;   
                    }
                  }
                  b { position: absolute; top: 125%; left: 60px; font: 900 20px 'Noto Sans'; color: #fff; }      
                }        
              }
            }     
          }
          div.textbox{
            width: 1320px; height: 100px; margin: 0 auto; top: 0;  
            background-color: #eee;
            p{
              text-align: center; display: block; padding-top: 20px; font-size: 20px; font-weight: 600;
            }
          }       
        }  
      } 
    }
    .slide03 {
      width: 100%; height: 100%; 
      header{
        width: 1920px; height: 100px; z-index: 10;
        div.inner{
          width: 1920px; height: 100%; margin: 0 auto; 
          div.header{
            width: 1320px; height: 100px; margin: 0 auto; 
            background-color: #aaa; display: flex; justify-content: space-between;
            div.logo{
              width: 200px; height: 100px;
              img{
                width: 180px; height: 90px; margin-left: 20px; margin-top: 5px;
              }
            }
            ul#menu{
              width: 100%; height: 100%; display: flex; text-align: center; justify-content: center;
              li{
                width: 120px; height: 50px; font-size: 20px; font-weight: 600;  margin-top: 25px; margin-left: 10px; line-height: 50px; cursor: pointer;
                &:nth-child(3){ font-size: 24px; opacity: 1; color: #fff; border-color: #fff;}
              }
            }
          }
        }
      }
  
      div#Portfolio{
        width: 1920px; height: 920px; 
        swiper-container.mySwiper{
          width: 1320px; height: 780px; margin: 0 auto;  margin-top: 50px;
          swiper-slide{
            width: 100%; 
            div.inner01{
              width: 100%; height: 780px;
              div.text01{
                width: 100%; height: 780px;  display: flex;
                background-color: #ddd;
                img{
                  width: 780px; height: 650px; margin-top: 50px; margin-left: 60px;
                }
                div.textbox01{
                  width: 500px; height: 400px;  margin-left: 85px;
                  h2{
                    width: 400px; height: 100px; margin-top: 300px; font-size: 50px;
                  }
                  p{
                    display: block; width: 350px; height: 100px; 
                  }
                  button{
                    width: 150px; height: 40px; background-color: #ddd;
                    &:hover{
                      background-color: #eee; cursor: pointer;
                    }
                  }
                }
              }  
            }
          }  
          swiper-slide{
            width: 100%; 
            div.inner02{
              width: 100%; height: 780px;
              div.text02{
                width: 100%; height: 780px;  display: flex;
                background-color: #ddd;
                img{
                  width: 780px; height: 650px; margin-top: 50px; margin-left: 60px;
                }
                div.textbox02{
                  width: 500px; height: 400px;  margin-left: 85px;
                  h2{
                    width: 400px; height: 100px; margin-top: 300px; font-size: 50px;
                  }
                  p{
                    display: block; width: 350px; height: 100px; 
                  }
                  button{
                    width: 150px; height: 40px; background-color: #ddd;
                    &:hover{
                      background-color: #eee;cursor: pointer;
                    }
                  }
                }
              }  
            }
          }  
        }  
      } 
    }
    .slide04 {
      width: 100%; height: 100%; 
      header{
        width: 1920px; height: 100px; z-index: 10;
        div.inner{
          width: 1920px; height: 100%; margin: 0 auto; 
          div.header{
            width: 1320px; height: 100px; margin: 0 auto; 
            background-color: #aaa; display: flex; justify-content: space-between;
            div.logo{
              width: 200px; height: 100px;
              img{
                width: 180px; height: 90px; margin-left: 20px; margin-top: 5px;
              }
            }
            ul#menu{
              width: 100%; height: 100%; display: flex; text-align: center; justify-content: center;
              li{
                width: 120px; height: 50px; font-size: 20px; font-weight: 600;  margin-top: 25px; margin-left: 10px; line-height: 50px; cursor: pointer;
                &:nth-child(4){ font-size: 24px; opacity: 1; color: #fff; border-color: #fff;}
              }
            }
          }
        }
      }

      div#Banner{
        width: 1920px; height: 980px;
        ul.slides {
          padding: 0; width: 1320px; height: 280px; display: block; margin: 0 auto; position: relative;
          input { display: none; }
          .slide-container { display: block; }

.slide {
    top: 40%;
    opacity: 0;
    width: 609px;
    height: 700px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
    img {
      width: 1320px;
      height: 100%;
  }  
}
.nav label {
    width: 150px;
    height: 150px;
    display: none;
    position: absolute;
    top: 300px;
    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 7px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: 550px;
  width: 7px;
  height: 7px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8,
input#img-9:checked ~ .nav-dots label#img-dot-9,
input#img-10:checked ~ .nav-dots label#img-dot-10{
  background-color: rgba(255, 255, 255, 0.8);
}

        }
      } 
    }
    .slide05 {
      width: 100%; height: 100%;
      header{
        width: 1920px; height: 100px; z-index: 10;
        div.inner{
          width: 1920px; height: 100%; margin: 0 auto; 
          div.header{
            width: 1320px; height: 100px; margin: 0 auto; 
            background-color: #aaa; display: flex; justify-content: space-between;
            div.logo{
              width: 200px; height: 100px;
              img{
                width: 180px; height: 90px; margin-left: 20px; margin-top: 5px;
              }
            }
            ul#menu{
              width: 100%; height: 100%; display: flex; text-align: center; justify-content: center;
              li{
                width: 120px; height: 50px; font-size: 20px; font-weight: 600;  margin-top: 25px; margin-left: 10px; line-height: 50px; cursor: pointer;
                &:nth-child(5){ font-size: 24px; opacity: 1; color: #fff; border-color: #fff;}
              }
            }
          }
        }
      }

      div#Contact{
        width: 1920px; height: 1080px; 
        div.inner{
          width: 1320px; height: 880px;  margin: 0 auto; display: flex; 
          div.text{
            width: 400px; height: 550px; margin-top: 180px;
            h1{
              width: 200px; height: 350px; font-size: 100px; font-weight: 700;display: flex; color: #fff;
            }
            h4{
              width: 350px; height: 100px; font-size: 24px; font-weight: 200; color: #fff;
            }
          }  
          form#contact {
            width: 650px; height: 700px;  margin: 0 auto; margin-top: 120px; margin-left: 350px;
  
            input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea, button[type="submit"] { 
              font:400 16px; 
            } 
            fieldset {
              border: medium none !important; margin-top: 20px; 
            }
            input[type="text"], input[type="email"], #input[type="tel"], input[type="url"], #contact textarea {
              width: 580px; height: 40px; 
              border:1px solid #CCC;
              background:#FFF;
            }
            
            input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="url"]:hover, textarea:hover {
              -webkit-transition:border-color 0.3s ease-in-out;
              -moz-transition:border-color 0.3s ease-in-out;
              transition:border-color 0.3s ease-in-out;
              border:1px solid #444;
            }
            
            textarea {
              width: 580px; height: 300px; 
            }
            button{
              width: 100px; height: 50px; 
            }
            button[type="submit"]:active { 
              box-sizing: border-box; box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
            }
            
            input:focus, textarea:focus {
              outline:0;
              border:1px solid #999;
            }
            ::-webkit-input-placeholder {
              color:#888;
            }
            :-moz-placeholder {
              color:#888;
            }
            ::-moz-placeholder {
              color:#888;
            }
            :-ms-input-placeholder {
              color:#888;
            }
          }
        }
      }
    }     
  }  
  div#footer{
    width: 1920px; height: 50px; margin: 0 auto; left: 0 ; right: 0 ;   bottom: 0;background-color: #aaa; 
    div.inner{
      width: 1320px; margin: 0 auto;  left: 0 ; right: 0 ; bottom: 0;
      color: #fff; font-size: 12px; display: flex; 
      h2 a{
        line-height: 46px;  font-size: 14px;
      }
      span{
        width: 500px; display: block; font-size: 9px; line-height: 46px; margin-left: 150px;
      }
      ul{
        width: 600px; right: 20px;  display: flex; margin-left: 200px; 
        li{
          line-height: 46px;  margin-left: 50px;
        }
      }  
    }
  }    
}  



@keyframes pie1{
  0% {background : conic-gradient(#FFC0CB 0% 0%,  #fff 0% 100%)}
  5% {background : conic-gradient(#FFC0CB 0% 5%,  #fff 0% 100%)}
  10%{background : conic-gradient(#FFC0CB 0% 10%, #fff 0% 100%)}
  15%{background : conic-gradient(#FFC0CB 0% 15%, #fff 0% 100%)}
  20%{background : conic-gradient(#FFC0CB 0% 20%, #fff 0% 100%)}
  25%{background : conic-gradient(#FFC0CB 0% 25%, #fff 0% 100%)}
  30%{background : conic-gradient(#FFC0CB 0% 30%, #fff 0% 100%)}
  35%{background : conic-gradient(#FFC0CB 0% 35%, #fff 0% 100%)}
  40%{background : conic-gradient(#FFC0CB 0% 40%, #fff 0% 100%)}
  45%{background : conic-gradient(#FFC0CB 0% 45%, #fff 0% 100%)}
  50%{background : conic-gradient(#FFC0CB 0% 50%, #fff 0% 100%)}
  55%{background : conic-gradient(#FFC0CB 0% 55%, #fff 0% 100%)}
  60%{background : conic-gradient(#FFC0CB 0% 60%, #fff 0% 100%)}
  65%{background : conic-gradient(#FFC0CB 0% 65%, #fff 0% 100%)}
  70%{background : conic-gradient(#FFC0CB 0% 70%, #fff 0% 100%)}
  75%{background : conic-gradient(#FFC0CB 0% 75%, #fff 0% 100%)}
  80%{background : conic-gradient(#FFC0CB 0% 80%, #fff 0% 100%)}
  85%{background : conic-gradient(#FFC0CB 0% 85%, #fff 0% 100%)}
  90%{background : conic-gradient(#FFC0CB 0% 90%, #fff 0% 100%)}
}
@keyframes pie2{
  0% {background : conic-gradient(#ADD8E6 0% 0%,  #fff 0% 100%)}
  5% {background : conic-gradient(#ADD8E6 0% 5%,  #fff 0% 100%)}
  10%{background : conic-gradient(#ADD8E6 0% 10%, #fff 0% 100%)}
  15%{background : conic-gradient(#ADD8E6 0% 15%, #fff 0% 100%)}
  20%{background : conic-gradient(#ADD8E6 0% 20%, #fff 0% 100%)}
  25%{background : conic-gradient(#ADD8E6 0% 25%, #fff 0% 100%)}
  30%{background : conic-gradient(#ADD8E6 0% 30%, #fff 0% 100%)}
  35%{background : conic-gradient(#ADD8E6 0% 35%, #fff 0% 100%)}
  40%{background : conic-gradient(#ADD8E6 0% 40%, #fff 0% 100%)}
  45%{background : conic-gradient(#ADD8E6 0% 45%, #fff 0% 100%)}
  50%{background : conic-gradient(#ADD8E6 0% 50%, #fff 0% 100%)}
  55%{background : conic-gradient(#ADD8E6 0% 55%, #fff 0% 100%)}
  60%{background : conic-gradient(#ADD8E6 0% 60%, #fff 0% 100%)}
  65%{background : conic-gradient(#ADD8E6 0% 65%, #fff 0% 100%)}
  70%{background : conic-gradient(#ADD8E6 0% 70%, #fff 0% 100%)}
  75%{background : conic-gradient(#ADD8E6 0% 75%, #fff 0% 100%)}
  80%{background : conic-gradient(#ADD8E6 0% 80%, #fff 0% 100%)}
  85%{background : conic-gradient(#ADD8E6 0% 80%, #fff 0% 100%)}
}
@keyframes pie3{
  0% {background : conic-gradient(#99FAA3 0% 0%,  #fff 0% 100%)}
  5% {background : conic-gradient(#99FAA3 0% 5%,  #fff 0% 100%)}
  10%{background : conic-gradient(#99FAA3 0% 10%, #fff 0% 100%)}
  15%{background : conic-gradient(#99FAA3 0% 15%, #fff 0% 100%)}
  20%{background : conic-gradient(#99FAA3 0% 20%, #fff 0% 100%)}
  25%{background : conic-gradient(#99FAA3 0% 25%, #fff 0% 100%)}
  30%{background : conic-gradient(#99FAA3 0% 30%, #fff 0% 100%)}
  35%{background : conic-gradient(#99FAA3 0% 35%, #fff 0% 100%)}
  40%{background : conic-gradient(#99FAA3 0% 40%, #fff 0% 100%)}
  45%{background : conic-gradient(#99FAA3 0% 45%, #fff 0% 100%)}
  50%{background : conic-gradient(#99FAA3 0% 50%, #fff 0% 100%)}
  55%{background : conic-gradient(#99FAA3 0% 55%, #fff 0% 100%)}
  60%{background : conic-gradient(#99FAA3 0% 60%, #fff 0% 100%)}
  65%{background : conic-gradient(#99FAA3 0% 65%, #fff 0% 100%)}
}
@keyframes pie4{
  0% {background : conic-gradient(#F3CA61 0% 0%,  #fff 0% 100%)}
  5% {background : conic-gradient(#F3CA61 0% 5%,  #fff 0% 100%)}
  10%{background : conic-gradient(#F3CA61 0% 10%, #fff 0% 100%)}
  15%{background : conic-gradient(#F3CA61 0% 15%, #fff 0% 100%)}
  20%{background : conic-gradient(#F3CA61 0% 20%, #fff 0% 100%)}
  25%{background : conic-gradient(#F3CA61 0% 25%, #fff 0% 100%)}
  30%{background : conic-gradient(#F3CA61 0% 30%, #fff 0% 100%)}
  35%{background : conic-gradient(#F3CA61 0% 35%, #fff 0% 100%)}
  40%{background : conic-gradient(#F3CA61 0% 40%, #fff 0% 100%)}
  45%{background : conic-gradient(#F3CA61 0% 45%, #fff 0% 100%)}
  50%{background : conic-gradient(#F3CA61 0% 50%, #fff 0% 100%)}
  55%{background : conic-gradient(#F3CA61 0% 55%, #fff 0% 100%)}
  60%{background : conic-gradient(#F3CA61 0% 60%, #fff 0% 100%)}
  65%{background : conic-gradient(#F3CA61 0% 65%, #fff 0% 100%)}
  70%{background : conic-gradient(#F3CA61 0% 65%, #fff 0% 100%)}
  75%{background : conic-gradient(#F3CA61 0% 65%, #fff 0% 100%)}
  80%{background : conic-gradient(#F3CA61 0% 65%, #fff 0% 100%)}
}
@keyframes pie5{
  0% {background : conic-gradient(#fa6363 0% 0%,  #fff 0% 100%)}
  5% {background : conic-gradient(#fa6363 0% 5%,  #fff 0% 100%)}
  10%{background : conic-gradient(#fa6363 0% 10%, #fff 0% 100%)}
  15%{background : conic-gradient(#fa6363 0% 15%, #fff 0% 100%)}
  20%{background : conic-gradient(#fa6363 0% 20%, #fff 0% 100%)}
  25%{background : conic-gradient(#fa6363 0% 25%, #fff 0% 100%)}
  30%{background : conic-gradient(#fa6363 0% 30%, #fff 0% 100%)}
  35%{background : conic-gradient(#fa6363 0% 35%, #fff 0% 100%)}
  40%{background : conic-gradient(#fa6363 0% 40%, #fff 0% 100%)}
  45%{background : conic-gradient(#fa6363 0% 45%, #fff 0% 100%)}
  50%{background : conic-gradient(#fa6363 0% 50%, #fff 0% 100%)}
}
@keyframes pie6{
  0% {background : conic-gradient(#b187ff 0% 0%,  #fff 0% 100%)}
  5% {background : conic-gradient(#b187ff 0% 5%,  #fff 0% 100%)}
  10%{background : conic-gradient(#b187ff 0% 10%, #fff 0% 100%)}
  15%{background : conic-gradient(#b187ff 0% 15%, #fff 0% 100%)}
  20%{background : conic-gradient(#b187ff 0% 20%, #fff 0% 100%)}
  25%{background : conic-gradient(#b187ff 0% 25%, #fff 0% 100%)}
  30%{background : conic-gradient(#b187ff 0% 30%, #fff 0% 100%)}
  35%{background : conic-gradient(#b187ff 0% 35%, #fff 0% 100%)}
  40%{background : conic-gradient(#b187ff 0% 40%, #fff 0% 100%)}
  45%{background : conic-gradient(#b187ff 0% 45%, #fff 0% 100%)}
  50%{background : conic-gradient(#b187ff 0% 50%, #fff 0% 100%)}
}


